body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

input {
    display: block;
    margin-bottom: 10px;
}

.login {
    border-style: solid;
    border-color: rgba(240, 248, 255, 0.356);
    border-radius: 80px;
    height: 10vh;
    padding: 38vh;
    transform: scale(0.90);
    transition: transform 3s;
    backdrop-filter: blur(50px);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
}

.login img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(2vh, 2vh);
    height: 6vh ;
    width: 32vh;
}

.login h1 {
    font-size: 3vh;
    font-family: system-ui;
    color: rgb(104, 104, 104);
    position: absolute;
    top: 9vh;
    left: 11.9vh;
}

.login a {
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(202, 202, 202);
    position: absolute;
    bottom: 7vh;
    left: 12.5vh;
}

.login input {

    display: block;
    margin-bottom: 100px;
    height: 180px;
    width: 2000px;
    font-size: 75px;
    border-radius: 50px;
    text-align: center;
}

.login label {
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(51, 51, 51);
}

.login .inputs {
    position: absolute;
    bottom: 9vh;
    left: 12vh;
}

body {
    width: 300px;
    height: 300px;
    background-size: 10500px;
    background-color: rgba(172, 195, 196, 0.5);
    background-image: url("../imagens/wallhaven-6de6wl.png");
}

.login button {
    height:120px ;
    width:325px ;
    font-size: 85px;
    border-radius: 25px;
    margin-left: 20vh;
}

.login .button2 {
    position:absolute;
    bottom: 5vh;
    right: 10vh;
}

.login .button1 {
    position:absolute;
    bottom: 5vh;
    right: 19vh;
}

.olho {
    position: absolute;
    right: 12vh;
    bottom: 24.5vh;
    transform: translateY(-50%);
    width: 2vh;
    height: 2vh;
    background-image: url('../imagens/olho_fechado.png');
    background-size: cover;
    cursor: pointer;
}

.olho2 {
    position: absolute;
    right: 12vh;
    bottom: 16.5vh;
    transform: translateY(-50%);
    width: 2vh;
    height: 2vh;
    background-image: url('../imagens/olho_fechado.png');
    background-size: cover;
    cursor: pointer;
}
