body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

input {
    display: block;
    margin-bottom: 10px;
}

.login {
    border-style: solid;
    border-color: rgba(240, 248, 255, 0.356);
    border-radius: 2%;
    height: 10vh;
    padding: 38vh;
    transform: scale(0.90);
    transition: transform 3s;
    backdrop-filter: blur(50px);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
}

.login img {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(2%, 2%);
    height: 6vh ;
    width: 32vh;
}

.login h1 {
    font-size: 3vh;
    font-family: system-ui;
    color: rgb(104, 104, 104);
    position: absolute;
    top: 9vh;
    left: 11.9vh;
}

.login a {
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(48, 47, 47);
    position: absolute;
    bottom: 11vh;
    left: 12.5vh;
}

.login .inputs .nome_div label{
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 18vh;
    left: 12vh;
}

.login .inputs .nome_div input{
    border-radius: 1.3vh;
    border-style: none;
    font-size: 2vh;
    text-align: center;
    height: 5vh;
    width: 52vh;
    position: absolute;
    top: 21vh;
    left: 12vh;
}

.login .inputs .email_div label{
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 27vh;
    left: 12vh;
}

.login .inputs .email_div input{
    border-radius: 1.3vh;
    border-style: none;
    font-size: 2vh;
    text-align: center;
    height: 5vh;
    width: 52vh;
    position: absolute;
    top: 30vh;
    left: 12vh;
}

.login .inputs .email_ver_div label{
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 36vh;
    left: 12vh;
}

.login .inputs .email_ver_div input{
    border-radius: 1.3vh;
    border-style: none;
    font-size: 2vh;
    text-align: center;
    height: 5vh;
    width: 52vh;
    position: absolute;
    top: 39vh;
    left: 12vh;
}

.login .inputs .tel_div label{
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 45vh;
    left: 12vh;
}

.login .inputs .tel_div input{
    border-radius: 1.3vh;
    border-style: none;
    font-size: 2vh;
    text-align: center;
    height: 5vh;
    width: 25vh;
    position: absolute;
    top: 48vh;
    left: 12vh;
}

.login .inputs .data_nsc_div label{
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 45vh;
    left: 39vh;
}

.login .inputs .data_nsc_div input{
    border-radius: 1.3vh;
    border-style: none;
    font-size: 2vh;
    text-align: center;
    height: 5vh;
    width: 25vh;
    position: absolute;
    top: 48vh;
    left: 39vh;
}

.login .inputs .senha1_div label{
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 54vh;
    left: 12vh;
}

.login .inputs .senha1_div input{
    border-radius: 1.3vh;
    border-style: none;
    font-size: 2vh;
    text-align: center;
    height: 5vh;
    width: 52vh;
    position: absolute;
    top: 57vh;
    left: 12vh;
}

.login .inputs .senha2_div label{
    font-size: 2vh;
    font-family: system-ui;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 63vh;
    left: 12vh;
}

.login .inputs .senha2_div input{
    border-radius: 1.3vh;
    border-style: none;
    font-size: 2vh;
    text-align: center;
    height: 5vh;
    width: 52vh;
    position: absolute;
    top: 66vh;
    left: 12vh;
}


body {
    width: 300px;
    height: 300px;
    background-size: 10500px;
    background-color: rgba(172, 195, 196, 0.5);
    background-image: url("../imagens/wallhaven-6de6wl.png");
}

.login .button2 button{
    border-radius: 1.3vh;
    border-style: none;
    font-size: 2vh;
    text-align: center;
    height: 3vh;
    width: 10vh;
    position:absolute;
    bottom: 5vh;
    right: 12vh;
}

.login .button1 button{
    border-radius: 1.3vh;
    border-style: none;
    font-size: 2vh;
    text-align: center;
    height: 3vh;
    width: 10vh;
    position:absolute;
    bottom: 5vh;
    right: 23.5vh;
}

.olho {
    position: absolute;
    right: 13vh;
    bottom: 24.5vh;
    transform: translateY(-50%);
    width: 2vh;
    height: 2vh;
    background-image: url('../imagens/olho_fechado.png');
    background-size: cover;
    cursor: pointer;
}

.olho2 {
    position: absolute;
    right: 13vh;
    bottom: 15.5vh;
    transform: translateY(-50%);
    width: 2vh;
    height: 2vh;
    background-image: url('../imagens/olho_fechado.png');
    background-size: cover;
    cursor: pointer;
}

